<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인 - 홍's 게시판</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="icon" href="/assets/icon.png"/>
    <link rel="apple-touch-icon" href="/assets/icon.png"/> 
    <%- include('google.ejs') %>
</head>
<body>
    <%- include('nav.ejs') %>
    <div class="container">
        <form action="/login" method="POST">
                <div class="form-group">
                    <label for="id">ID</label>
                    <input type="text" id="id" placeholder="id를 입력하세요." name="username">
                </div>
                <div class="form-group">
                    <label for="pw">PW</label>
                    <input type="password" id="password" placeholder="비밀번호를 입력해주세요." name="password">
                </div>
                <div class="form-group">
                    <button id="submit" type="submit">로그인</button>
                </div>
        </form>
        <h4>계정이 없으시다면 =><a href="/signup">회원가입</a></h4>
    </div>
</body>
</html>